<ng-container *ngIf="course">
  <div class="course-card">

    <div class="course-title">
      {{ index || '' + ' ' + course.description }}
    </div>

    <!-- Angular 18
  @if (course.iconUrl) {
    <img width="300" alt="Angular Logo"
      [src]="course.iconUrl">
  }
  @else {
    <h2>No image available!</h2>
  } -->

    <img *ngIf="course.iconUrl; else noImage" width="300" alt="Angular Logo" [src]="course.iconUrl">

    <ng-template #noImage>
      <h2>No image is available.</h2>
    </ng-template>

    <div class="course-description">
      {{ course.longDescription }}
    </div>

    <!-- Angular 18 -->
    <!-- <div class="course-category">
    @switch (course.category) {
      @case ("BEGINNER") {
        <div class="category">
          Beginner
        </div>
      }
      @case ("INTERMEDIATE") {
        <div class="category">
          Intermediate
        </div>
      }
      @case ("ADVANCED") {
        <div class="category">
          Advanced
        </div>
      }
      @default {
        <div class="category">
          Unknown
        </div>
      }
    }
  </div> -->

    <!-- <div class="course-category" [ngSwitch]="course.category">
      <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>
      <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
      <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>
      <div class="category" *ngSwitchDefault>All Levels</div>
    </div> -->

    <button (click)="onCourseViewd()">View Course</button>

  </div>
</ng-container>