<div class="top-menu">
  <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses" #container>
  <!-- Angular 18 @for
  @for (course of courses; track $index; 
        let index = $index; 
        let count = $count; 
        let first = $first; 
        let last = $last; 
        let even = $even;
        let odd = $odd;
        ) {

    <course-card 
      [course]="course"
      [index]="index" 
      [class.is-first]="first"
      [class.is-last]="last"
      (courseSelected)="onCourseViewed($event)" 
    />
  }

  @empty {
    <h1>No courses found!</h1>
  } -->

<!-- <div *ngFor="let pair of courses[0] | keyvalue">
  {{ pair.key + ': ' + pair.value }}
</div> -->

  <!-- <course-card *ngFor="let course of courses | slice: 0:2; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd"
    [course]="course"
    [index]="i"
    [class.is-first]="isFirst"
    [class.is-last]="isLast"
    [class.is-even]="isOdd"
    [class.is-odd]="isEven"
    (courseSelected)="onCourseViewed($event)" 
  /> -->

  <course-card 
    #cardRef1
    [course]="courses[0]"
    (courseSelected)="onCourseViewed($event)" 
  />

  <course-card 
  #cardRef2
  [course]="courses[1]"
  (courseSelected)="onCourseViewed($event)" 
/>

</div>
