<div class="top-menu" (click)="onCourseEdited()">
  <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses" *ngIf="courses[0] as course">

  <course-card 
    [course]="course"
    (courseSelected)="onCourseViewed($event)" 
  >

  <course-image [ttttt]="course.iconUrl"></course-image>

  <!-- <div class="course-description">
    {{ course.longDescription }}
  </div> -->

  <!-- <p>{{ courses.length }}</p> -->
  
  </course-card>
</div>
