<div class="top-menu" (click)="onCourseEdited()">
  <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses" *ngIf="courses[0] as course">

  <ng-template #blanckImage let-courseName="description">
    <p class="warn">{{ courseName }} has no image available yet.</p>

    <img src="/assets/empty-image.png">
  </ng-template>

  <ng-container *ngTemplateOutlet="blanckImage">

  </ng-container>

  <course-card 
    [noImageTpl]="blanckImage"
    [course]="course"
    (courseSelected)="onCourseViewed($event)" 
  >

  <course-image [src]="course.iconUrl" />

  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <p>{{ courses.length }}</p>
  
  </course-card>
</div>
